.order-form {
  margin-bottom: 24px;
}

.order-form .ant-form-item-label label {
  font-weight: 500;
}

.order-form .ant-radio-group {
  width: 100%;
}

.order-form .ant-radio-button-wrapper {
  width: 50%;
  text-align: center;
}

.order-form .ant-input-number {
  width: 100%;
}

.order-form .ant-input-number-input {
  height: 40px;
  font-size: 16px;
}

.order-form .ant-select-selector {
  height: 40px !important;
}

.order-form .ant-select-selection-item {
  display: flex;
  align-items: center;
}
